<div class = "jumbotron center">

    <h1>Добро пожаловать! <br> Канбан доска </h1>

    <h3> Здесь вы сможете отслеживать выполнение задач. </h3>

    <%= link_to "Зарегистрироваться!", signup_path, class: "btn btn-lg btn-primary" %>

    <%= link_to "Продолжить без регистрации", sign_in_guest_path, class: "btn btn-lg btn-primary", "data-no-turbolink" => true %>

</div>

